.header {
  padding: 15px 0;
  box-shadow: 0 1px 2px -1px #000;
  background: #fff;
}
.header .container{
  display: flex;
  align-items: center;
}
.top-nav {
  margin-left: auto;
}
.nav__list {
  margin: 0;
  padding: 0;
}
.nav__item {
  display: inline-block;
  margin-left: 10px;
}
.nav__link {
  display: block;
  padding: 8px 22px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #666;
  border-radius: 30px;
}
.nav__link.active {
  background: rgba(243, 156, 18, .8);
  color: #fff;
}
