html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font: 1rem/1.32 "Ubuntu", sans-serif;
  background: #ecf0f1;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}